@import "bootstrap";

.bg-secondary {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-secondary-rgb), var(--bs-bg-opacity));
}

body {
    margin: 0;
    background: #000;
    color: #fff;
}
