:root,
[data-bs-theme=light],
[data-bs-theme=dark] {
    --bs-secondary: #3269A8;
    --bs-secondary-rgb: 50, 105, 168;
    --bs-secondary-bg: #3269A8;
    --bs-secondary-bg-rgb: 50, 105, 168;
}

.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #3269A8;
    --bs-btn-border-color: #3269A8;

    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #2d5e96;
    --bs-btn-hover-border-color: #2b598e;

    --bs-btn-focus-shadow-rgb: 50, 105, 168;

    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #2b598e;
    --bs-btn-active-border-color: #285385;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);

    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #3269A8;
    --bs-btn-disabled-border-color: #3269A8;
}

.bg-secondary {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-secondary-rgb), var(--bs-bg-opacity)) !important;
}

body {
    margin: 0;
    background: #000;
    color: #fff;
}
