<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}TV-TIME{% endblock %}</title>
    <link rel="icon"
          href="https://www.pngplay.com/wp-content/uploads/6/Film-Icon-Background-PNG-Image.png">
    {% block stylesheets %}
    {% endblock %}

    {% block javascripts %}
        {% block importmap %}{{ importmap('app') }}{% endblock %}
    {% endblock %}
</head>
<body>
{% block body %}{% endblock %}
</body>
</html>
