@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-[#050505] text-[#EDEDED] font-sans;
    background-image: radial-gradient(circle at 50% -20%, #1e293b 0%, #050505 80%);
  }
}

.glass {
  @apply bg-white/5 backdrop-blur-lg border border-white/10;
}

.page-enter-active,
.page-leave-active {
  transition: all 0.4s;
}
.page-enter-from,
.page-leave-to {
  opacity: 0;
  filter: blur(1rem);
}
